/swing/build/
/swing/db/
/swing/dist/
/swing/commit.txt
/swing/nbproject/private
/swing/log/
/swing/*.zip
/android/local.properties
/android/bin
/android/gen
/android/libs
/android/nbproject/private/
/swing/launch4j.log
/common/nbproject/private/
/common/build/
/common/dist/
/android/tmp/
/android/commit.txt
/swing/mem/
/common/commit.txt
/android/build-tree.txt
/android/build.dot
/common/bin/
/common/gen/