/swing/build/
/swing/db/
/swing/dist/
/swing/commit.txt
/swing/nbproject/private
/swing/log/
/swing/*.zip
/android/local.properties
/android/bin
/android/gen
/android/libs
/android/nbproject/private/
