/build/
/db/
/dist/
/commit.txt
/nbproject/private
/log/
/*.zip
/local.properties
/bin
/gen
/libs
/launch4j.log
/tmp/
/mem/
/icons/
/screenshots/
/test-android/local.properties
/test-android/bin/
/test-android/libs/
/test-android/gen/
