<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          package="bbct.android"
          android:versionCode="1"
          android:versionName="1.0">
    <application android:label="@string/app_name" android:icon="@drawable/baseball">
        <activity android:name=".BaseballCardList"
                  android:label="@string/app_name">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".BaseballCardDetails" />
        <activity android:name=".FilterOptions"/>
        <activity android:name=".YearFilter"/>
        <activity android:name=".NumberFilter"/>
        <activity android:name=".YearAndNumberFilter"/>
        <activity android:name=".PlayerNameFilter"/>
        <activity android:name=".About" />
    </application>
</manifest>
