[project]
	description = BBCT
[access]
	inheritFrom = All-Projects
[access "refs/*"]
	owner = group user/Code Apprentice (codeguru42)
[access "refs/for/refs/*"]
	read = group user/Code Apprentice (codeguru42)
	push = group user/Code Apprentice (codeguru42)
	label-Code-Review = -2..+2 group user/Code Apprentice (codeguru42)
	label-Verified = -1..+1 group user/Code Apprentice (codeguru42)
	rebase = group user/Code Apprentice (codeguru42)
	removeReviewer = group user/Code Apprentice (codeguru42)
	submit = group user/Code Apprentice (codeguru42)
[access "refs/heads/*"]
	read = group user/Code Apprentice (codeguru42)
	create = group user/Code Apprentice (codeguru42)
	push = +force group user/Code Apprentice (codeguru42)
	pushMerge = group user/Code Apprentice (codeguru42)
[access "refs/tags/*"]
	push = +force group user/Code Apprentice (codeguru42)
	pushTag = group user/Code Apprentice (codeguru42)
	pushSignedTag = group user/Code Apprentice (codeguru42)
