<?xml version="1.0" encoding="utf-8"?>
<!--
 This file is part of BBCT for Android.

 Copyright 2012 codeguru <codeguru@users.sourceforge.net>

 BBCT for Android is free software: you can redistribute it and/or modify
 it under the terms of the GNU General Public License as published by
 the Free Software Foundation, either version 3 of the License, or
 (at your option) any later version.

 BBCT for Android is distributed in the hope that it will be useful,
 but WITHOUT ANY WARRANTY; without even the implied warranty of
 MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
 GNU General Public License for more details.

 You should have received a copy of the GNU General Public License
 along with this program.  If not, see <http://www.gnu.org/licenses/>.
-->
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          package="bbct.android.common"
>
    <uses-sdk android:minSdkVersion="7" 
              android:targetSdkVersion="16"
    />
    <permission android:name="@string/read_permission"
                android:label="@string/permission_label"
                android:description="@string/permission_desc"
                android:protectionLevel="signature"
    />
    <application android:label="@string/app_name"
                 android:icon="@drawable/baseball"
    >
        <activity android:name=".BaseballCardList"
                  android:label="@string/app_name"
        >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".BaseballCardDetails">
            <intent-filter>
                <action android:name="android.intent.action.EDIT" />
                <category android:name="android.intent.category.DEFAULT" />
                <data android:mimeType="vnd.android.cursor.item/baseball_card" />
            </intent-filter>
        </activity>
        <activity android:name=".FilterOptions"/>
        <activity android:name=".YearFilter"/>
        <activity android:name=".NumberFilter"/>
        <activity android:name=".YearAndNumberFilter"/>
        <activity android:name=".PlayerNameFilter"/>
        <activity android:name=".About" />
        <provider android:name=".BaseballCardProvider"
                  android:label="@string/provider_name"
                  android:authorities="@string/authorities"
                  android:readPermission="@string/read_permission"
        />
    </application>
</manifest>
