name: Android CI

on:
  push:
  pull_request:
    branches: [ master, devel/** ]

jobs:
  build:

    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v2
    - name: set up JDK 1.8
      uses: actions/setup-java@v1
      with:
        java-version: 1.8
    - name: Decode google-services.json
      env:
        FIREBASE_CONFIG: ${{ secrets.FIREBASE_CONFIG }}
      run: echo $FIREBASE_CONFIG > android/google-services.json
    - name: Build with Gradle
      run: ./gradlew android:buildLiteDebug android:buildPremiumDebug
